* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #f5efe6;
  font-family: "Poppins", sans-serif;
  background-color: #2c3333;

  background: url(./images/dog-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  display: flex;
  padding: 4px;
  align-items: center;
  background-color: #000000;
}

.title,
.products,
.contact,
.cart {
  color: #f5efe6;
  text-decoration: none;
  margin-right: 36px;
  transition: all 0.5s ease;
}

.title:hover {
  scale: 1.1;
}

.products:hover,
.contact:hover,
.cart:hover {
  letter-spacing: 3px;
}

.title {
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 36px;
  margin-left: 12px;
}

.products {
  margin-left: auto;
}

.cart {
  margin-right: 12px;
}

.home--body {
  width: 100%;
  height: 100vh;
}

.home--body {
  display: flex;
  justify-content: end;
}

.home--container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  max-height: 70%;
  margin-top: 100px;
  margin-right: 25px;
}

.quote {
  font-size: 14px;
  letter-spacing: 3px;
}

.author {
  font-size: 12px;
}

.button {
  align-items: center;
  background-color: transparent;
  border: 2px solid #f5efe6;
  box-sizing: border-box;
  margin: 50px;
  color: aliceblue;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  align-self: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  width: 350px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:focus {
  color: #f5efe6;
}

.button:hover {
  border-color: #f2f2f2;
  color: #000000;
  fill: #a5c9ca;
  background-color: #f2f2f2;
}

.button:active {
  border-color: #f2f2f2;
  color: #000000;
  fill: #f5efe6;
}

@media (min-width: 768px) {
  .button {
    min-width: 170px;
  }
}

.products--body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  border: solid 3px black;
  margin: 30px 100px;
  padding: 15px;
}

.products--title,
.shoppingCart--title {
  background-color: #000000;
  padding: 5px 30px;
  font-family: "Big Shoulders Stencil Display", cursive;
  font-size: 36px;
}

.products--container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dog--card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: #2c3333;
  border: solid 3px #2c3333;
  margin-top: 20px;
  text-decoration: none;
  color: #f2f2f2;
}

.dog--card:hover {
  scale: 1.1;
}

.dog--img {
  width: 255px;
  height: 382px;
  margin-bottom: 3px;
}

.dog--breed {
  font-size: 10px;
  background-color: #395b64;
  padding: 0 3px;
  margin: 2px 0;
}

.contact--body {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  margin-right: 120px;
}

.contact--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--icon {
  width: 72px;
  margin-right: 30px;
  transition: all 0.5s ease;
}

.contact--icon:hover {
  scale: 1.2;
}

.contact--info {
  text-align: center;
  margin-top: 20px;
}

.doginfo--body,
.shoppingCart--body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doginfo--container,
.shoppingCart--container {
  display: flex;
  background: #f2f2f2;
  color: #000000;
  border: solid 3px black;
  margin: 30px 100px;
  padding: 15px;
  max-width: 50%;
}

.doginfo {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.doginfo--name {
  font-size: 24px;
}

.doginfo--breed,
.cart--breed {
  font-size: 10px;
  background-color: #395b64;
  padding: 0 3px;
  margin-top: -5px;
  color: #f2f2f2;
  width: fit-content;
}

.doginfo--price {
  margin-top: 5px;
  font-size: 16px;
}

.doginfo--description {
  font-size: 14px;
}

.addCart,
.cart--checkout {
  align-items: center;
  background-color: transparent;
  border: 2px solid #000000;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  align-self: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  width: 50px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 35px;
}

.addCart:focus,
.cart--button:focus,
.cart--checkout:focus {
  color: #000000;
}

.addCart:hover,
.cart--button:hover,
.cart--checkout:hover {
  border-color: #000000;
  color: #f2f2f2;
  fill: #f2f2f2;
  background-color: #000000;
}

.addCart:active,
.cart--button:active,
.cart--checkout:active {
  border-color: #000000;
  color: #000000;
  fill: #000000;
  background-color: #f2f2f2;
}

@media (min-width: 768px) {
  .addCart,
  .cart--checkout {
    min-width: 170px;
  }
}

.shoppingCart--container {
  flex-direction: column;
  width: 600px;
}

.cart--item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px;
}

.cart--img {
  width: 120px;
  margin: 5px;
  margin-right: 20px;
}

.cart--price {
  margin-left: auto;
}

.cart--breed {
  margin-top: 5px;
}

.cart--quantity {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart--count {
  margin: 15px;
}

.cart--button {
  border: 2px solid black;
  padding: 5px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}

.shoppingCart--title {
  align-self: center;
  color: #f2f2f2;
  margin-bottom: 10px;
}

.cart--total {
  font-family: "Zilla Slab", serif;
  align-self: center;
  font-size: 20px;
  margin-top: 10px;
}

.shoppingCart--empty {
  align-self: center;
}

.backButton {
  text-decoration: none;
  color: red;
  margin-top: 10px;
  align-self: center;
  font-size: 14px;
}

.backButton:hover {
  text-decoration: underline;
}

.shipment--box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background: #f2f2f2;
  border: solid 3px #000000;
  color: #000000;
  padding: 15px;
}

.shipment--img {
  width: 80%;
}
